@import 'mixins/border.less';

.right.carousel-control {
    display: none;
}

.left.carousel-control {
    display: none;
}

.carousel img {
  .border;
    min-width: 600px;
    min-height: 300px;
}

.custom-carousel {
  padding-left: 5px;
  padding-right: 0px;
}
